* {
    color-scheme: light;
}

header {
    border: 1px solid grey
}

h3 {
    color: red;
}

body {
    background: #ddd;
}

.card {
    padding: 10px;
    background: #fff;
    margin-bottom: 10px;
}

.card p {
    font-size: 14px;
}

#header {
    background: #eee;
    /* padding: 10px; */
}
.html {
    background: #ed7138;
    color: white;
}

.css {
    background: #4997c8;
    color: white;
}

#header, .card {
    margin-bottom: 10px;
}